# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\IJSE\GDSE55\2 sem\ORM Concepts with Hibernate & JPA\Course Work\GDSE55_ITS1155_PasanAbeysekara\FinalAssignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
